<div class="settings_wrapper d-flex h-full justify-content-center p-8">
    <div class="settings">
        <h1 class="mat-h1">设置</h1>
        <mat-card appearance="outlined" class="mat-card">
            <mat-card-header class="header">
                <mat-card-title class="mat-h1">主题</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div class="d-flex p-t-8 justify-content-between">
                    M3主题设置
                    <mat-slide-toggle hideIcon />
                </div>
            </mat-card-content>
        </mat-card>
        <h1 class="mat-h1">技术</h1>
        <mat-card appearance="outlined" class="mat-card">
            <mat-card-content class="content">
                <h2 class="mat-h2">前端</h2>
                <mat-nav-list>
                    <a mat-list-item href="https://angular.io" target="_blank">
                        Angular
                    </a>
                    <a
                        mat-list-item
                        href="https://material.angular.io"
                        target="_blank"
                    >
                        Angular Material</a
                    >
                </mat-nav-list>
                <h2 class="mat-h2">后端</h2>
                <mat-nav-list>
                    <a
                        mat-list-item
                        href="https://spring.io/projects/spring-boot"
                        target="_blank"
                    >
                        Spring Boot
                    </a>
                </mat-nav-list>
                <h2 class="mat-h2">数据库</h2>
                <mat-nav-list>
                    <a
                        mat-list-item
                        href="https://www.postgresql.org"
                        target="_blank"
                    >
                        PostgreSQL
                    </a>
                </mat-nav-list>
            </mat-card-content>
        </mat-card>
    </div>
</div>
