@use 'sass:map';
@use '@angular/material' as mat;

@mixin hoteler-error-code-theme($theme) {
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .hoteler-error {
    &-code,
    &-title,
    &-message {
      color: mat.get-color-from-palette($foreground, text);
    }
  }
}
