@import '~@angular/material/theming';

@mixin hoteler-error-code-theme($theme) {
  $background: map-get($theme, background);
  $foreground: map-get($theme, foreground);

  .hoteler-error {
    &-code, &-title, &-message {
      color: mat-color($foreground, text);
    }
  }
}
