<h2 mat-dialog-title>客人入住</h2>
<div mat-dialog-content>
  <form [formGroup]="form">
    <p>请填写表单</p>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>用户</mat-label>
      <mat-select formControlName="customerId">
        @for (c of customers; track c.id) {
          <mat-option [value]="c.id">{{ c.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="w-full" appearance="outline">
      <mat-label>房间</mat-label>
      <mat-select formControlName="roomId">
        <mat-option [value]="data.id"
          >{{ data.roomname }} {{ data.price | currency }}</mat-option
        >
      </mat-select>
    </mat-form-field>
    <div class="w-full">
      <mat-label>入住时间</mat-label>
      <mat-date-range-input
        formGroupName="checkInTime"
        [rangePicker]="checkInTimePicker"
        [comparisonStart]="checkInTime.value.beginDate"
        [comparisonEnd]="checkInTime.value.endDate"
        [min]="minDate"
      >
        <input
          matStartDate
          placeholder="开始时间"
          formControlName="beginDate"
        />
        <input matEndDate placeholder="结束时间" formControlName="endDate" />
      </mat-date-range-input>
      <mat-datepicker-toggle
        matIconSuffix
        [for]="checkInTimePicker"
      ></mat-datepicker-toggle>
      <mat-date-range-picker #checkInTimePicker></mat-date-range-picker>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close cdkFocusInitial>取消</button>
  <button
    mat-button
    color="primary"
    [disabled]="form.invalid"
    [mat-dialog-close]="form.getRawValue()"
  >
    确定
  </button>
</div>
