.login {
  padding: {
    top: 200px
  };

  &-card {
    max-width: 380px;
    margin: {
      top: 200px;
    };
  }
}


input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px rgba(255, 255, 255, 0.5) inset !important;
}

