.box {
  align-items: center;
  display: flex;
  padding: {
    top: 200px;
  };

  .card {
    margin: 0 auto;

    .form-field-full {
      .mat-form-field {
        width: 100%;
      }
    }
  }
}
