@import '../../../styles/breakpoints';

.box {
  align-items: center;
  display: flex;
  padding: {
    top: 200px;
  };

  @include respond-below(sm) {
    padding: {
      top: 50px;
    };
  }

  .card {
    margin: 0 auto;

    .form-field-full {
      .mat-form-field {
        width: 100%;
      }
    }

    .error {
      padding: {
        bottom: 20px;
      };
    }
  }
}
