:host {
  display: flex;
  flex-direction: column;
  overflow: auto;

  .dashboard {
    margin: 16px;

    .mat-card {
      margin: 8px;
      // apx-chart {
      //   height: 400px;
      // }
    }
  }
}
