<app-page-header title="仪表盘"></app-page-header>
<main fxLayout="row wrap" class="dashboard holeler-row">
  <div
    fxFlex="100"
    fxFlex.gt-sm="50"
    class="holeler-col"
    *ngIf="roomStatusDonutChart.show"
  >
    <mat-card>
      <apx-chart
        [series]="roomStatusDonutChart.series"
        [chart]="roomStatusDonutChart.chart"
        [title]="roomStatusDonutChart.title"
        [labels]="roomStatusDonutChart.labels"
        [plotOptions]="roomStatusDonutChart.plotOptions"
      ></apx-chart>
    </mat-card>
  </div>
  <div
    fxFlex="100"
    fxFlex.gt-sm="50"
    class="holeler-col"
    *ngIf="pastWeekCustomerCountChart.show"
  >
    <mat-card>
      <apx-chart
        [series]="pastWeekCustomerCountChart.series"
        [chart]="pastWeekCustomerCountChart.chart"
        [title]="pastWeekCustomerCountChart.title"
        [xaxis]="pastWeekCustomerCountChart.xaxis"
      ></apx-chart>
    </mat-card>
  </div>
</main>
