<div class="w-full p-4">
    <app-breadcrumb label="仪表盘" url="/dashboard" />
    <main class="dashboard">
        @if (loading) {
            <div class="h-full">
                <app-loading-shade />
            </div>
        } @else {
            <div class="hoteler-row flex flex-row flex-wrap">
                @if (roomStatusDonutChart.show) {
                    <div
                        class="hoteler-col flex justify-content-center h-[400px]"
                    >
                        <mat-card appearance="outlined" class="w-full">
                            <mat-card-header>
                                <mat-card-title>{{
                                    roomStatusDonutChart.title.text
                                }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content
                                class="h-full flex flex-col-reverse"
                            >
                                <div
                                    apxChart
                                    class="h-4/5"
                                    [series]="roomStatusDonutChart.series"
                                    [chart]="roomStatusDonutChart.chart"
                                    [labels]="roomStatusDonutChart.labels"
                                    [plotOptions]="
                                        roomStatusDonutChart.plotOptions
                                    "
                                ></div>
                            </mat-card-content>
                        </mat-card>
                    </div>
                }
                @if (pastWeekCustomerCountChart.show) {
                    <div
                        class="hoteler-col flex justify-content-center h-[400px]"
                    >
                        <mat-card appearance="outlined" class="w-full">
                            <mat-card-header>
                                <mat-card-title>{{
                                    pastWeekCustomerCountChart.title.text
                                }}</mat-card-title>
                            </mat-card-header>
                            <mat-card-content class="h-full">
                                @defer (
                                    on viewport;
                                    when pastWeekCustomerCountChart.show
                                ) {
                                    <div
                                        apxChart
                                        [series]="
                                            pastWeekCustomerCountChart.series
                                        "
                                        [chart]="
                                            pastWeekCustomerCountChart.chart
                                        "
                                        [xaxis]="
                                            pastWeekCustomerCountChart.xaxis
                                        "
                                    ></div>
                                } @placeholder {
                                    <div>过去一周的入住客户数量变化</div>
                                }
                            </mat-card-content>
                        </mat-card>
                    </div>
                }
            </div>
        }
    </main>
</div>
