@use "../../../../styles/breakpoints";

:host {
  .dashboard {
    position: relative;
    padding: 16px;

    .hoteler-row {

      .hoteler-col {
        position: relative;
        width: 100%;

        &:not(&:first-child) {
          padding: {
            top: 8px;
          }
        }

        @include breakpoints.respond-above(xs) {
          flex: 0 0 50%;
          width: 50%;

          &:not(&:first-child) {
            padding: {
              top: unset;
            }
          }
        }
      }
    }

    .mat-mdc-card {
      height: 100%;
      margin: 8px;
      padding: 8px;
    }
  }
}
