@use '../../../../styles/breakpoints' as bp;

.mat-column {
  @include bp.respond-below(sm) {
    &-no {
      display: none;
    }

    &-roomname {
      padding: {
        left: 12px;
      };
    }

    &-action {
      justify-content: center;
    }
  }
}

.table-header {
  display: flex;

  .no-display {
    display: none;
  }
}

tr.mat-column-action {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
}

.table-responsive {
  .mat-mdc-table {
    min-width: 576px;
  }
}

.room-list {
  &-card {
    min-width: 200px;
    max-width: 400px;
    padding: {
      right: 8px;
      left: 8px;
    };

    .mat-mdc-card-image {
      width: 100%;
      margin: 0;
    }
  }
}

.room {
  &-card-wrapper {
    width: 100%;
    margin: {
      right: -8px;
      left: -8px;
    };

    .room-card {
      width: 100%;
      padding: 8px;

      @include bp.respond-above(sm) {
        width: 50%;
      }

      @include bp.respond-above(md) {
        width: 33%;
      }

      @include bp.respond-above(lg) {
        width: 25%;
      }
    }
  }
}

.loading-shade {
  position: absolute;
  inset: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .15);
}
