@import '../../../../styles/breakpoints';

.mat-column {
  @include respond-below(sm) {
    &-no {
      display: none;
    }
    &-roomname {
      padding: {
        left: 12px;
      };
    }

    &-action {
      justify-content: center
    }
  }
}

.table-header {
  display: flex;

  .no-display {
    display: none;
  }
}

tr.mat-column-action {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .mat-button-base {
    margin: 8px 8px 8px 0;
  }
}

.room-list {
   &-card {
     max-width: 400px;
     min-width: 200px;
     padding: {
       left: 8px;
       right: 8px;
     };

     .mat-card-image  {
       margin: 0;
       width: 100%;
     }
   }
}

.room-card {
  width: 100%;
}

