<div class="h-full">
  <mat-drawer-container class="container">
    <mat-drawer class="h-full drawer" #drawer [opened]="open" [mode]="mode">
      <mat-nav-list>
        <h3 matSubheader>主页</h3>
        <a
          mat-list-item
          routerLink="/admin/dashboard"
          routerLinkActive="active"
        >
          <mat-icon matListItemIcon> dashboard </mat-icon>
          <p mat-line>仪表盘</p>
        </a>
        <a mat-list-item routerLink="/admin/customer" routerLinkActive="active">
          <mat-icon matListItemIcon> business </mat-icon>
          <p mat-line>客户管理</p>
        </a>
        <a mat-list-item routerLink="/admin/room" routerLinkActive="active">
          <mat-icon matListItemIcon> room_preferences </mat-icon>
          <p mat-line>房间管理</p>
        </a>
        <a mat-list-item routerLink="./user" routerLinkActive="active">
          <mat-icon matListItemIcon> group </mat-icon>
          <p mat-line>用户</p>
        </a>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content class="h-full">
      <router-outlet></router-outlet>
    </mat-drawer-content>
  </mat-drawer-container>
</div>
