:host {
    position: absolute;
    display: flex;
    inset: 56px 0 0;
    flex-direction: column;
}

app-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.container {
    position: absolute;
    inset: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    .drawer {
        max-width: 180px !important;
        border-right: 1px solid #eee;
        box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);
    }
}
