@use '@angular/material' as mat;

:host {
    position: absolute;
    display: flex;
    inset: 64px 0 0;
    flex-direction: column;
}

app-navbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 2;
}

.layout-container {
    position: absolute;
    inset: 0;
    display: flex;
    flex: 1;
    flex-direction: column;

    .drawer {
        max-width: 180px !important;
        border-right: 1px solid #eee;
        box-shadow: 6px 0 6px rgba(0, 0, 0, 0.1);

        mat-icon {
            color: var(--mat-sys-on-surface);
        }

        .active {
            color: var(--mat-sys-primary) !important;

            mat-icon {
                color: var(--mat-sys-primary);
            }

            @include mat.list-overrides((
                list-item-label-text-color: var(--mat-sys-primary),
                list-item-focus-label-text-color: var(--mat-sys-primary),
                list-item-hover-label-text-color: var(--mat-sys-primary),
            ));   

        }
    }
}