@use '@angular/material' as mat;

$azure-blue-theme: mat.define-theme((
  color: (
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));

html {
  color-scheme: light dark;
  @include mat.theme($azure-blue-theme);
  @include mat.typography-hierarchy($azure-blue-theme);
}

