@use '@angular/material' as mat;

html {
  color-scheme: light dark;
  @include mat.theme((
    color: (
      // theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette
    ),
    typography: Roboto,
    density: 0,
  ));
}
