@use '@angular/material' as mat;

$magenta-violet-theme: mat.define-theme((
  color: (
    primary: mat.$magenta-palette,
    tertiary: mat.$violet-palette,
  ),
  typography: (
    brand-family: 'Roboto',
    plain-family: 'Roboto',
  ),
  density: (
    scale: 0
  ),
));

html {
  color-scheme: light dark;
  @include mat.theme($magenta-violet-theme);
  @include mat.typography-hierarchy($magenta-violet-theme);
}
