@import '../../../../styles/breakpoints';

.mat-column {
  @include respond-below(sm) {
    &-id, &-cardId, &-phone {
      display: none;
    }
    &-name {
      padding: {
        left: 12px;
      };
    }
  }
}

.action-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
}

.customer-card {
  padding: {
    right: 8px;
    left: 8px;
  };
  margin: 8px;
  max-width: 350px;
  min-width: 300px;
}

.loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;

}

