@import '../../../../styles/breakpoints';

.mat-column {
  @include respond-below(sm) {
    &-id, &-cardId, &-phone {
      display: none;
    }
    &-name {
      padding: {
        left: 12px;
      };
    }
  }
}

.action-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;

  .mat-button-base {
    margin: 8px 8px 8px 0;
  }
}
