@use '../../../../styles/breakpoints' as bp;

.mat-column {
  @include bp.respond-below(sm) {
    &-id,
    &-cardId,
    &-phone {
      display: none;
    }

    &-name {
      padding: {
        left: 12px;
      };
    }
  }
}

.action-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;

  .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
}

.customer-card {
  padding: {
    right: 8px;
    left: 8px;
  };

  min-width: 300px;
  max-width: 350px;
  margin: 8px;
}

.loading-shade {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, .15);
}
