<form [formGroup]="form">
    <h2 mat-dialog-title>创建用户</h2>
    <mat-dialog-content class="content">
        <mat-form-field
            class="w-full form-filed-full m-t-4"
            appearance="outline"
        >
            <mat-label>用户名</mat-label>
            <input matInput placeholder="用户名" formControlName="username" />
        </mat-form-field>
        <mat-form-field
            class="w-full form-filed-full m-t-4"
            appearance="outline"
        >
            <mat-label>密码</mat-label>
            <input
                matInput
                [type]="toogle.type"
                placeholder="密码"
                formControlName="password"
            />
            <matx-pass-toggle-visibility #toogle matSuffix />
        </mat-form-field>
        <mat-form-field
            class="w-full form-field-full m-t-4"
            appearance="outline"
        >
            <mat-label>角色</mat-label>
            <mat-select multiple formControlName="roles">
                @for (role of roles; track role.id) {
                    <mat-option [value]="role.name">{{ role.name }}</mat-option>
                }
            </mat-select>
        </mat-form-field>
    </mat-dialog-content>
    <mat-dialog-actions align="end">
        <button
            mat-button
            mat-dialog-close
            cdkFocusInitial
            (click)="onNoClick()"
        >
            取消
        </button>
        <button
            mat-button
            [disabled]="form.invalid"
            color="primary"
            type="submit"
            [mat-dialog-close]="form.getRawValue()"
        >
            确定
        </button>
    </mat-dialog-actions>
</form>
