@use 'sass:map';
@use '@angular/material' as mat;

@mixin hoteler-apexcharts-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .apexcharts-title-text {
    color: mat.m2-get-color-from-palette($foreground, text) !important;
    fill: mat.m2-get-color-from-palette($foreground, text) !important;
  }

  .apexcharts-menu {
    background: mat.m2-get-color-from-palette($background, background) !important;
  }

  .apexcharts-menu-item {
    &:hover {
      color: mat.m2-get-color-from-palette($foreground, text) !important;
    }
  }

  .apexcharts-legend-text {
    // background: mat.get-color-from-palette($background, background) !important;
    color: mat.m2-get-color-from-palette($foreground, text) !important;
  }
}
