@use 'sass:map';
@use '@angular/material' as mat;

@mixin hoteler-apexcharts-theme() {
  .apexcharts-title-text {
    color: var(--mat-sys-on-surface) !important;
    fill: var(--mat-sys-on-surface) !important;
  }

  .apexcharts-menu {
    background: var(--mat-sys-surface) !important;
  }

  .apexcharts-menu-item {
    &:hover {
      color: var(--mat-sys-on-surface) !important;
    }
  }

  .apexcharts-legend-text {
    // background: mat.get-color-from-palette($background, background) !important;
    color: var(--mat-sys-on-surface) !important;
  }
}