@use "sass:math";

.hoteler {
  &-row {
    margin: {
      right: math.div(-$gutter, 2);
      left: math.div(-$gutter, 2);
    }
  }

  &-col {
    padding: {
      right: math.div($gutter, 2);
      left: math.div($gutter, 2);
    }
  }
}
