@use 'sass:map';
@use '@angular/material' as mat;

@mixin hoteler-navbar-theme($theme) {
  $accent: map.get($theme, accent);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-navbar {
    background: mat.get-color-from-palette($background, background);

    a.hoteler-button {
      &:hover {
        background: {
          color: rgba(0, 0, 0, 0.4)
        };
        color: mat.get-color-from-palette($accent);
      }
    }
  }
}
