<mat-toolbar color="primary" aria-label="Top Toolbar">
    @if (showMenu) {
        <button
            mat-icon-button
            color="primary"
            aria-label="hamburger menu"
            (click)="toggle()"
        >
            <mat-icon>menu</mat-icon>
        </button>
    }
    <a mat-button class="hoteler-button" routerLink="/" aria-label="Hoteler">
        <app-logo matButtonIcon />
        @if (showBarnd) {
            <span>Hoteler</span>
        }
    </a>
    @if (!isMobile && username) {
        @for (menu of menus; track $index) {
            <a [routerLink]="menu.slug" mat-button close="hoteler-button">{{
                menu.displayName
            }}</a>
        }
    }
    <spacer />
    <!-- <app-theme-picker /> -->
    @if (showGithubLogo) {
        <a
            mat-icon-button
            class="hoteler-button"
            href="https://github.com/damingerdai/hoteler"
            aria-label="GitHub Repository"
        >
            <mat-icon
                svgIcon="github"
                aria-hidden="false"
                aria-label="gitHub icon"
            ></mat-icon>
        </a>
    }
    @if (username) {
        <a
            mat-button
            class="hoteler-button"
            [matMenuTriggerFor]="menu"
            aria-label="user profile"
        >
            {{ username | titlecase }}
        </a>
    }
    <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logout()">
            <mat-icon>exit_to_app</mat-icon>
            <span>登出</span>
        </button>
        @if (isAdmin) {
            <button mat-menu-item routerLink="/admin">
                <mat-icon aria-label="content icons">content_paste</mat-icon>
                <span>内容管理(beta)</span>
            </button>
        }
        <button mat-menu-item routerLink="settings">
            <mat-icon aria-label="settings icons">settings</mat-icon>
            <span>设置</span>
        </button>
    </mat-menu>
</mat-toolbar>
@if (isMobile && username) {
    <mat-toolbar color="primary" aria-label="Section Nav Bar">
        @for (menu of menus; track $index) {
            <a
                [routerLink]="menu.slug"
                mat-button
                class="hoteler-button navbar-link"
                >{{ menu.displayName }}</a
            >
        }
    </mat-toolbar>
}
