<mat-toolbar color="primary" aria-label="Top Toolbar">
  <a mat-button class="hoteler-button" routerLink="/" aria-label="Hoteler">
    <img
      class="logo"
      src="assets/img/angular-white-transparent.svg"
      alt="angular"
    />
    <span>Hoteler</span>
  </a>
  <ng-container *ngIf="!isMobile && username">
    <a mat-button class="hoteler-button" routerLink="dashboard"> 仪表盘 </a>
    <a mat-button class="hoteler-button" routerLink="customer"> 客户信息 </a>
    <a mat-button class="hoteler-button" routerLink="room"> 房间信息 </a>
  </ng-container>

  <div flexSpacer></div>
  <app-theme-picker></app-theme-picker>
  <a
    mat-icon-button
    class="hoteler-button"
    href="https://github.com/damingerdai/hoteler"
    aria-label="GitHub Repository"
  >
    <mat-icon
      svgIcon="github"
      aria-hidden="false"
      aria-label="gitHub icon"
    ></mat-icon>
  </a>
  <a
    mat-button
    class="hoteler-button"
    [matMenuTriggerFor]="menu"
    aria-label="user profile"
    *ngIf="username"
  >
    {{ username | titlecase }}
  </a>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="logout()">
      <mat-icon>exit_to_app</mat-icon>
      <span>登出</span>
    </button>
    <button mat-menu-item routerLink="settings">
      <mat-icon aria-label="settings icons">settings</mat-icon>
      <span>设置</span>
    </button>
  </mat-menu>
</mat-toolbar>
<mat-toolbar
  color="primary"
  aria-label="Section Nav Bar"
  *ngIf="isMobile && username"
>
  <a mat-button class="hoteler-button navbar-link" routerLink="dashboard">
    仪表盘
  </a>
  <a mat-button class="hoteler-button navbar-link" routerLink="customer">
    客户信息
  </a>
  <a mat-button class="hoteler-button navbar-link" routerLink="room">
    房间信息
  </a>
</mat-toolbar>
