@use '@angular/material' as mat;

mat-toolbar {
  background: {
    color: var(--mat-sys-primary-container)
  };

  color: var(--mat-sys-primary);
}

.navbar-header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding: 8px 16px;

  .logo {
    height: 26px;
    margin-right: 6px;
    vertical-align: middle;
  }

  .hoteler-angular-logo {
    height: 21px;
    margin: 0 7px 2px;
    vertical-align: middle;
  }

  a.hoteler-button {
    &:hover {
      background: {
        color: rgba(0, 0, 0, .4);
      };

      color: var(--mat-sys-on-tertiary-container);
    }
  }

  .hoteler-button {
    .avatars {
      position: relative;
      top: -3px;
      left: -3px;

      .avatar-container {
        .avatar-content{
          background-color: var(--mat-sys-primary);
          color: var(--mat-sys-on-primary);
        }
      }
    }
  }

  .mat-mdc-button-base:not(:disabled) {
    color: inherit;
  }
}

.navbar-link {
  flex: 1;
  text-decoration: inherit;
}
