.register {
    &-card {
        max-width: 350px;
        margin: {
            top: 200px;
        }

        .mat-mdc-card-header {
            display: block;
            padding: 16px;
        }

        mat-card-actions {
          div {
            .has-account {
              font-size: var(--mdc-text-button-label-text-size, var(--mat-app-label-large-size));
            }
          }
        }
    }
}
