@use '../../../styles/breakpoints';

.register {
  padding: {
    top: 200px
  };

  @include breakpoints.respond-below(xs) {
    padding: {
      top: 50px
    };
  }

  &-card {
    max-width: 380px;
    margin: {
      top: 200px;
    };
  }
}
