@use 'sass:map';
@use '@angular/material' as mat;

@mixin hoteler-banner-theme($theme) {
  $primary: map.get($theme, primary);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  app-banner {
    .banner {
      color: mat.get-color-from-palette($primary, default-contrast);
      background: mat.get-color-from-palette($primary);
    }
  }
}
