@use 'sass:map';
@use '@angular/material' as mat;
@use './styles/apexcharts' as apexcharts-theme;
@use './styles/input' as input-theme;
@use './app/routes/room/room-list/room-list-theme';
@use './app/routes/settings/settings-theme';
@use './app/shared/components/banner/banner-theme';
@use './app/shared/components/error-code/error-code-theme';
@use './app//shared/components//navbar/navbar-theme';
@use './app/shared/components/page-header/page-header-theme';

@mixin hoteler-app-theme($theme) {

  @include room-list-theme.hoteler-room-list-theme($theme);
  @include settings-theme.hoteler-settings-theme($theme);
  @include banner-theme.hoteler-banner-theme($theme);
  @include error-code-theme.hoteler-error-code-theme($theme);
  @include navbar-theme.hoteler-navbar-theme($theme);
  @include page-header-theme.hoteler-page-header-theme($theme);
  @include apexcharts-theme.hoteler-apexcharts-theme($theme);
  @include input-theme.hoteler-input-theme($theme);

  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $background: map.get($theme, background);
  $foreground: map.get($theme, foreground);

  .app-background {
    background: mat.get-color-from-palette($background, background);
  }

  // TODO: add new chip
  // .mdc-evolution-chip__action {
  //   &--primary {
  //     &::before {
  //       background: mat.get-color-from-palette($primary, default-contrast);
  //     }

  //   }

  //   &--accent {
  //     &::before {
  //       background: mat.get-color-from-palette($accent, default-contrast) !important;
  //     }
  //   }

  //   &--warn {
  //     &::before {
  //       background: mat.get-color-from-palette($warn, default-contrast) !important;
  //     }
  //   }
  // }
}

// Define the light theme.
$primary: mat.define-palette(mat.$indigo-palette);
$accent:  mat.define-palette(mat.$pink-palette, A200, A100, A400);

$theme: mat.define-light-theme(
  (
    color: (
      primary: $primary,
      accent: $accent
    ),
    typography: mat.define-typography-config(),
  )
);
