nav {
  padding: {
    left: 16px;
    right: 16px;
  }

  .hoteler-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-bottom: 1rem;
    font-size: 1.275rem;
    list-style: none;

    &-item {
      line-height: 1.125rem;
      text-transform: capitalize;

      >* {
        vertical-align: middle;
      }

      >a.link {
        color: currentColor;
        text-decoration: none;

        &:hover {
          color: currentColor;
          text-decoration: underline;
        }
      }
    }
  }
}


