nav {
  padding: {
    left: 16px;
    right: 16px;
  }

  .hoteler-breadcrumb {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;

    &-item {
      line-height: 1.125rem;
      text-transform: capitalize;

      >* {
        vertical-align: middle;
      }

      >a.link {
        // font: 500 40px / 1.25 Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, \5fae\8f6f\96c5\9ed1, Arial, sans-serif;
        letter-spacing: normal;
        margin: 0 0 64px;
        color: currentColor;
        text-decoration: none;

        &:hover {
          color: currentColor;
          text-decoration: none;
        }
      }
    }
  }
}


